
.cabeza{
    display: block;
    justify-content: center;
}

.titulo h1{
    text-align: center;
}

.buscador{
    display: flex;
    justify-content: center;
}
.buscador input{
    color: black;
}

.contenedor{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: center;
}
